.cardContainer {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    width: 100%;
    max-width: 480px;
    margin: 8px;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 0 8px rgba(0,0,0,.15);
    display: block;
  
    a {
      text-decoration: none;
    }
  
    img {
        width: 100%;
        height: auto;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
  
    .contentContainer {
        display: flex;
        padding: 16px;

        .cardProfileImg{
            width: 80px;
            height: 80px;
            margin-right: 8px;
            border-radius: 100%;
            flex-shrink: 0;

            img{
                border-radius: 100%;
            }
        }

        .cardInfo{
            text-align: left;
        }

        .cardTitle {
            color: #333;
            font-size: 1.1em;
            padding: 0px;
            margin: 0px;
        
        }
        .cardDesc {
            font-size: .9em;
            color: #666;
            margin: 8px 0 0;
        }
    }
}
  
  